<div class="dialog-container">
  <h2 mat-dialog-title>Location: {{data.title}}</h2>

  <div mat-dialog-content>
  <h2 mat-dialog-title>Description: {{data.description}}</h2>
  </div>

    <!--
    <mat-form-field>
      <button type="button" mat-button (click)="imgFileInput.click()">Add a photo</button>
      <input hidden type="file" #imgFileInput/>
    </mat-form-field>
  
   
    <mat-form-field>
      <button type="button" mat-button (click)="mp3FileInput.click()">Add an MP3 file</button>
      <input hidden type="file" #mp3FileInput/>
    </mat-form-field>
    -->

  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
  </div>
</div>