<div class="dialog-container">
  <h2 mat-dialog-title>Location: {{data.title}}</h2>
  <div mat-dialog-content>

    <h1 mat-dialog-title>Edit Marker Details:</h1>
    <mat-form-field>
      <input matInput placeholder="Title" [(ngModel)]="data.title">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Description"></textarea>
    </mat-form-field>


    <mat-form-field>
      <button type="button" mat-button (click)="imgFileInput.click()">Add a photo</button>
      <input hidden type="file" #imgFileInput/>
    </mat-form-field>

    <mat-form-field>
      <button type="button" mat-button (click)="mp3FileInput.click()">Add an MP3 file</button>
      <input hidden type="file" #mp3FileInput/>
    </mat-form-field>


  </div>
  <div mat-dialog-actions>
    <!--<button mat-button (click)="onNoClick()">No Thanks</button>-->
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
  </div>
</div>